<!-- <div class="course-card" *ngIf="course" [ngClass]="'beginner'"> -- string with single class -->
<!-- <div class="" *ngIf="course" [ngClass]="'course-card beginner'"> -- string with multiple classes -->
<!-- <div class="" *ngIf="course" [ngClass]="['beginner', 'course-card']"> -- array -->
<!-- <div
  class=""
  *ngIf="course"
  [ngClass]="{ 'course-card': true, beginner: true }" -- configuration object
> -->

<!-- Function returning configuration object -->
<div class="course-card" *ngIf="course" [ngClass]="cardClasses()">
  <div class="course-title">{{ cardIndex + " - " + course.description }}</div>
  <img
    width="300"
    *ngIf="course.iconUrl; else noImage"
    alt="Angular Logo"
    [src]="course.iconUrl"
  />

  <ng-template #noImage><p>No image is available.</p></ng-template>

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <button (click)="onCourseView()">View Course</button>
</div>
