<div
  class="course-card"
  *ngIf="course"
  [ngClass]="cardClasses()"
  [ngStyle]="cardStyles('img')"
>
  <!-- <div class="course-title" [style.text-decoration]="'underline'">
    -- We have to use this one similarly for each of the style modifications
   -->

  <!-- <div class="course-title" [ngStyle]="{ 'text-decoration': 'underline' }"> --configuration object -->
  <div class="course-title" [ngStyle]="cardStyles('div')">
    {{ cardIndex + " - " + course.description }}
  </div>
  <!-- <img
    width="300"
    *ngIf="course.iconUrl; else noImage"
    alt="Angular Logo"
    [src]="course.iconUrl"
  /> -->

  <ng-template #noImage><p>No image is available.</p></ng-template>

  <div class="course-description">
    {{ course.longDescription }}
  </div>

  <button (click)="onCourseView()">View Course</button>
</div>
